.container {
  max-width: 960px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-weight: 500;
}
.nav-link active {
  font-family: 'Oswald', sans-serif;
}
.nav-link {
  font-family: 'Oswald', sans-serif;
}
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #242A30;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
  overflow-y: scroll;
}
h5 {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  text-align: center;
  font-weight: 300;
  opacity: 50%;
}
p {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  font-size: x-large;
}
.img-fluid {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
mastfoot mt-auto {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  text-align: center;
  font-weight: 300;

}