.container {
  max-width: inherit;
  text-align: center;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-weight: 500;
}
.nav-link active {
  font-family: 'Oswald', sans-serif;
}
.nav-link {
  font-family: 'Oswald', sans-serif;
}
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #242A30;
  font-family: 'Oswald', sans-serif;
  color: white;
  overflow-y: scroll;
  font-weight: 300;
}
h1 {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  text-align: left;
}
h5 {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  text-align: center;
  font-weight: 300;
  opacity: 50%;
}
p {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  font-size: x-large;
  text-align: left;
}
.card{
  background-color: #32383E;
}
.card-header {
  font-weight: 500;
}
.list-group-item {
  color: white;
  background-color: #32383E;
}
.list-group list-group-flush li a {
  color: #CCCDCF;
}
.img-fluid {
  display: flex;
  margin-left: fill;
  margin-right: auto;

}
mastfoot mt-auto {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  text-align: center;
  font-weight: 300;
  opacity: 50%;
}
